.main .wrapper
{
    .about {
        scroll-snap-align: start;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .section {
          position: absolute;
          bottom: 0%;
          width: 100vw;
          height: 20vh;
          &:before {
            /* animation: glow 3s infinite alternate; */
            content: " ";
            position: absolute;
            bottom: -100%;
            background: $secondary;
            right: -5%;
            min-width: 300px;
            min-height: 300px;
            width: 25vw;
            height: 25vw;
            border-radius: 100% 100% 100% 100%;
            z-index: 1;
            box-shadow: -5px -5px 13px rgba(126, 126, 126, 0.76),
              inset 5px 5px 25px #00000062, 3px 5px 25px #313131ee;
             
          }
        }
        h1 {
          font-size: 3.5em;
          letter-spacing: 3px;
          width: 100%;
          margin-left: 5%;
          z-index: 100;
          z-index: 1000;
        }
        p {
          margin-left: 5%;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 1.5em;
          width: 60%;
          margin-bottom: 5%;
          z-index: 1000;
        }
        .img {
          margin-left: 5%;
          img {
            width: 50%;
            z-index: 1000;
          }
        }
      }
}

@media only screen and (max-width: 600px) {
    .main .wrapper 
    {
        .about {
            max-width: 100vw;
            max-height: 100vh;
    
            .img {
              img {
                width: 90%;
              }
            }
            h1 {
              font-size: 2.5em;
            }
    
            p {
              width: 90%;
              font-size: 1.25em;
              z-index: 100;
            }
            .section {
              position: absolute;
              bottom: 0%;
    
              width: 100vw;
              height: 20vh;
              background: white;
              display: none;
              &:before {
                bottom: -115%;
    
                right: -5%;
                min-width: 250px;
                min-height: 250px;
                width: 25vw;
                height: 35vw;
              }
            }
          }
    }
}