@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@font-face {
    font-family: Adam;
    src: url("../font/Adam.otf") format("opentype");
}
$bg: #fdfffc;
$primary: #000000;
$secondary: #ef476f;
*{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: Adam;
    
}

.main
{
    width: 100vw;
    height: 100vw;
    background: #000;
    background: $bg;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    
    .landing
    {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    
        .me 
        {
            text-align: left;
            align-self: flex-start;
            padding-left: 5%;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary;
            letter-spacing: 10px;
            &::first-letter {
                color: $secondary;
                font-size: 3em;
                letter-spacing: 15px;
                
              }
        }
        .job 
        {
            align-self: flex-start;
            text-align: left;
            align-self: flex-start;
            padding-left: 5%;
            margin-top: 25px;
            color: $primary;
        }
        .moon 
        {
            width: 30%;
            margin-left: -50%;
        }
    }
   
    
    
}
@media only screen and (max-width: 600px) {
    .main{
        transform: none;
        width: auto;
        height: 100vh;
        .landing{
            height: 100vh;
            transform: none;
            .me{
                width: 100vw;
                font-size: 1.5em;
                &:first-letter
                {
                    font-size: 3em;
                }
            }
            .job 
            {
                width: 100vw;
                font-size: 1.3em;
            }
            .moon
            {
            display: none;
            }
            
        }
    }
}
::-webkit-scrollbar {
    background: $bg;
    border-radius: 10px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: $secondary;
    margin-left: 10px;
    border-radius: 30px;

               
  }
 
  
  
  
