@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");
@font-face {
  font-family: Adam;
  src: url("../font/Adam.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: Adam;
  scroll-behavior: smooth;
}

.main {
  width: 100vw;
  height: 100vw;
  background: #000;
  background: #fdfffc;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.main .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200vw;
  max-width: auto;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.main .wrapper .landing {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .wrapper .landing .section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 20vh;
  background: white;
}

.main .wrapper .landing .section:before {
  content: " ";
  position: absolute;
  bottom: -30%;
  background: #ff0057;
  left: -20%;
  min-width: 300px;
  min-height: 300px;
  width: 35vw;
  height: 35vw;
  border-radius: 100% 100% 100% 100%;
  z-index: 1;
  -webkit-box-shadow: 5px 5px 13px rgba(126, 126, 126, 0.76), inset -5px -5px 25px #00000062;
          box-shadow: 5px 5px 13px rgba(126, 126, 126, 0.76), inset -5px -5px 25px #00000062;
}

.main .wrapper .landing .name {
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5%;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 10px;
}

.main .wrapper .landing .name::first-letter {
  color: #ff0057;
  font-size: 3em;
  letter-spacing: 15px;
}

.main .wrapper .landing .job {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  align-self: flex-start;
  padding-left: 5%;
  margin-top: 25px;
  color: #000000;
}

.main .wrapper .about {
  scroll-snap-align: start;
  background: white;
  height: 100vh;
  width: 100vw;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .wrapper .about h1 {
  font-size: 3.5em;
  letter-spacing: 3px;
  width: 100%;
  margin-left: 5%;
  z-index: 100;
}

.main .wrapper .about p {
  margin-left: 5%;
  /* font-family: poppins; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  width: 60%;
  margin-bottom: 5%;
}

.main .wrapper .about .img {
  margin-left: 5%;
}

.main .wrapper .about .img img {
  width: 50%;
}

.main .wrapper .skills {
  scroll-snap-align: start;
  background: white;
  height: 100vh;
  width: 100vw;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .wrapper .skills h1 {
  font-size: 3.5em;
  letter-spacing: 3px;
  width: 100%;
  margin-left: 5%;
}

.main .wrapper .skills h2 {
  font-size: 2.5em;
  letter-spacing: 3px;
  width: 100%;
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
  .main {
    -webkit-transform: none;
            transform: none;
    width: auto;
    height: 100vh;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
  .main .wrapper {
    height: 100vh;
    -webkit-transform: none;
            transform: none;
    min-width: 300vw;
  }
  .main .wrapper .landing {
    scroll-snap-align: start;
  }
  .main .wrapper .landing .name {
    width: 100vw;
    font-size: 1.5em;
  }
  .main .wrapper .landing .name:first-letter {
    font-size: 3em;
  }
  .main .wrapper .landing .job {
    width: 100vw;
    font-size: 1.3em;
  }
  .main .wrapper .landing .moon {
    width: 80vw;
    position: absolute;
    left: 20vw;
  }
  .main .wrapper .about {
    width: 100vw;
  }
  .main .wrapper .about .img img {
    width: 90%;
  }
  .main .wrapper .about h1 {
    font-size: 2.5em;
  }
  .main .wrapper .about p {
    width: 85%;
    font-size: 1.25em;
  }
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=index.css.map */