@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@font-face {
    font-family: Adam;
    src: url("../font/Adam.otf") format("opentype");
}
$bg: #fdfffc;
$primary: #000000;
$secondary: #e63946;
*{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: Adam;
    
}

.main
{
    width: 100vw;
    height: 100vw;
    background: #000;
    background: $bg;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    
    .wrapper
    {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 200vw;
    max-width: auto;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
      .landing
      {
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;

          
        .name
        {
            text-align: left;
            align-self: flex-start;
            padding-left: 5%;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary;
            letter-spacing: 10px;
            &::first-letter {
                color: $secondary;
                font-size: 3em;
                letter-spacing: 15px;
                
              }
        }
        .job 
        {
            align-self: flex-start;
            text-align: left;
            align-self: flex-start;
            padding-left: 5%;
            margin-top: 25px;
            color: $primary;
        }
        .moon 
        {
            width: 41vw;
            justify-self: flex-end;
            position: absolute;
            left: 100-41vw;
          
        }

      }.about
      {
          background: rgb(0, 0, 0);
          height: 100vh;
          width: 100vw;
          color: white;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          padding-left: 10vw;
          padding-right: 20vw;
          h1 {
              font-size: 3em;
              letter-spacing: 3px;
              width: 100%;
          }
         

      }
       
    }
   
    
    
}
@media only screen and (max-width: 600px) {
    .main{
        transform: none;
        width: auto;
        height: 100vh;
        .wrapper
        { height: 100vh;
            transform: none;
            width: 100vw;
           

        
        .landing{
            
            .name{
                width: 100vw;
                font-size: 1.5em;
                &:first-letter
                {
                    font-size: 3em;
                }
            }
            .job 
            {
                width: 100vw;
                font-size: 1.3em;
            }
            .moon
            {
            display: none;
            }
            
        }
        .about
        {
            width: 100vw;
           
        }
    }
}
}
::-webkit-scrollbar {
    display: none;
    
  }
 